<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    {% load static %}
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
        }
        .splash-container {
            text-align: center;
        }
        .logo {
            max-width: 300px;
        }
    </style>
</head>
<body>
    <div class="splash-container">
        <img src="{% static 'UD/images/logo.png' %}" class="logo" alt="Logo">
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'index' %}";
        }, 2000);
    </script>
</body>
</html> 